<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoQuote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A218F2B91BC2AED6004C8017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A218F2D01BC2AED7004C8017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A218F2DB1BC2AED7004C8017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
